autopep8==2.3.2
flake8==7.3.0
flake8-docstrings==1.7.0
flake8_import_order==0.19.2
mccabe==0.7.0
pycodestyle==2.14.0
pydocstyle==6.3.0
pyflakes==3.4.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.18.0
setuptools==82.0.1
snowballstemmer==3.0.1
